.search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-bar input {
    width: 60%;
    padding: 10px;
    border: 1px solid #dbd8d8;
    border-radius: 4px;
}

.search-bar input:active, .search-bar input:focus {
    border-color: #787c80;
    outline: none;
}

.movies-grid {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.movie-card {
    display: flex;
    gap: 20px;
    width: 60%;
    margin: 10px auto;
    padding: 15px;
    border: 1px solid #dbd8d8;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
}

.movie-card:hover {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
}

.movie-text {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie-title {
    font-size: 1.5rem;
}

.star{
    color: #f39c12;
}
